<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/css/*.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
    <div class="bg-info p-2">
        <h4 class="text-light">@ViewBag.Title</h4>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @RenderBody()
</body>
</html>